{{#if this.ordered}}
  <ol>
    {{#each this.itemsArray}}
      <li class="{{this.className}}__item" data-test-ember-content-placeholders-list-item>&#8203;<div></div></li>
    {{/each}}
  </ol>
{{else}}
  <ul>
    {{#each this.itemsArray}}
      <li class="{{this.className}}__item" data-test-ember-content-placeholders-list-item>&#8203;<div></div></li>
    {{/each}}
  </ul>
{{/if}}
